.container{
     max-width: 140rem;
    padding: 4.2rem 2.4rem;
    display:flex;
    justify-content: space-between; 
    margin: 3.5vw;
}

ul{
    display: flex;
    gap: 2.4rem;
    list-style: none;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover{
    color: white;
}